/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* main */

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
    padding: 40px 0 0 40px;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 175);
    padding: 14px;
    font-size: 26px;
    color: #ffffff;
}

.header__text {
    flex: 1 1 70%;
}

.header__timer {
    flex: 1 1 30%;
}

.legend {
    padding: 30px 0;
    font-size: 20px;
}

.question {
    margin: 35px 0;
}

.question__header {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.question__answers--item {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
}

.question__answers--item [type="checkbox"],
.question__answers--item [type="radio"] {
    margin-right: 8px;
}

.question__answers--item [type="text"],
.question__answers--item [type="email"] {
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 0;
    outline: none;
    min-width: 320px;
    font-size: 18px;
}

.question img {
    display: block;
    margin: 12px 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 20px;
}

.controls > button {
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.controls__submit {
    background-color: green;
}

.controls__cancel {
    background-color: #d93025;
}

.radio {
    cursor: pointer;
}

#timer {
    padding: 0 2px 0 5px;
}

.asterisk {
    color: #d93025;
}